{#
	Main footer component used across the site.
#}

{% macro footer(padding = true, iconColour='text-black') %}

	{% set containerClasses %}
		{% if pageData.template === "homePage" %}

		{% endif %}
	{% endset %}

	{% set iconClasses %}
		{% if pageData.template === "homePage" %}

		{% endif %}
	{% endset %}

	<div id="footer">
		{% if padding %}
			{% include "./footerPadding.njk" %}
		{% endif %}
		
		<div class="absolute bottom-0 w-full z-10">
			<div class="main-padding block-padding w-full">
				{% for social in site.about.social %}
					{% set socialIcon %}
						{% switch social.socialType %}
							{% case 'linkedin' %}
								fab fa-linkedin
							{% default %}
								fab fa-{{ social.socialType }}-square
						{% endswitch %}
					{% endset %}
					<a aria-label="{{ social.socialType }} - {{ social.socialTitle }}" class="mr-4 md:mr-8 " href="{{ social.url }}">
						<i class="{{ socialIcon }} {{ iconColour }} text-3xl md:text-4xl transform duration-100 hover:scale-110"></i>
					</a>	
				{% endfor %}
			</div>
		</div>
	</div>
{% endmacro %}