{#
	Default Sanity page template.
	Just imports blocks.
#}

{% include '../components/headers/header.njk' %}
			
{% from "layouts/_blocks.njk" import blocks with context %}
{{ blocks(blocks=pageData.content.blocks) }}

{% include '../components/footers/footer.njk' %}