{#
	Default Sanity page template.
	Just imports blocks.
#}

{% from "layouts/components/headers/header.njk" import header with context %}
{{ header(padding = true) }}
			
{% from "layouts/_blocks.njk" import blocks with context %}
{{ blocks(blocks=pageData.content.blocks) }}

{% from "layouts/components/footers/footer.njk" import footer with context %}
{{ footer(padding = true, iconColour = 'text-black') }}