@layer base {
	h1, h2, h3, h4, h5, h6 {
		@apply font-heading text-center leading-normal;
	}

	h1 {
		@apply text-6xl font-extrabold;
	}
	h2 {
		@apply text-4xl font-bold;
	}
	p {
		@apply mb-6;
		&:last-child {
			margin: 0;
		}
	}
	a {
		@apply tracking-wider;
	}

	.main-padding {
		@apply max-w-screen-xl mx-auto px-6 sm:px-12 md:px-24;
		transition: padding 0.5s ease-out;
	}

	.block-padding {
		@apply my-8 md:my-12;
	}

	.transition-fast {
		transition: all 250ms ease-out;
	}
	.transition-medium {
		transition: all 500ms ease-in-out;
	}
	 .filter-white {
        filter: brightness(0) saturate(100%) invert(1);
    }
}

html, body {
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  height: 100%;
}

iframe {
	width: 100%;
	height: 100%;
}

#featured-clip-wrapper {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   pointer-events: none;
   overflow: hidden;
   white-space: nowrap
}

#featured-clip-wrapper iframe {
   width: 100vw;
   height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
   min-height: 100vh;
   min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}



.emoji {
	height: 1.2em;
	display: inline
}

.screen-height-section {
	left: 0;
	right: 0;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
}

.sixty-height-section {
	left: 0;
	right: 0;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 60);
}

canvas {
	min-width: 100vw;
	position: absolute;
	display: block;
	z-index: 0;
}