

#featuredClipThumbs {
	&::after {
		content: '';
		position: absolute;
		height: 2px;
		width: 100%;
		bottom: -2rem;
		background: white;
	}

	& > .featured-clip-thumb {
		@apply transition transform hover:scale-110;

		transition: all 250ms ease-in-out;

		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}

		&.active {
			@apply border-2 border-white hover:scale-100;

			& > #aspectWrapper {
				@apply transform scale-75 hover:scale-75;

				& > #thumbOverlay {
				opacity: 0;
			}

			} 
		}
	}
}